body {
  background: #2d3940 url('../images/bb.gif');
  color: #fff;
  font-family: Verdana, Geneva, sans-serif;
  font-size: .65em;
}

.header, .main, .footer {
  margin: 0 auto;
  position: relative;
  width: 760px;
}

.hide {
  display: none;
}

h1, h2, h3, ol, ul {
  margin: 0;
  padding: 0;
}

.logo {
  background: black url('../images/logo.png');
  background-repeat: no-repeat;
  display: block;
  float: left;
  height: 66px;
  width: 138px;
}

.navigation {
  background-color: #000;
  border: 1px solid #000;
  border-bottom: 0;
  height: 66px;
  li {
    background: black url('../images/nb.gif');
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    display: block;
    float: left;
    font-family: 'Myriad Pro';
    font-size: 1.4em;
    height: 56px;
    margin-right: 1px;
    text-align: center;
    text-transform: uppercase;
    width: 82px;
    &:hover {
      background-position: 0px 56px;
    }
    a {
      color: #fff;
      position: relative;
      text-decoration: none;
      top: 31px;
    }
  }
}

.contact {
  background-color: #1A2225;
  border-top: 1px solid #293239;
  font-family: Verdana;
  font-size: .9em;
  height: 19px;
  padding-top: 3px;
  ul {
    line-height: 16px;
    margin: 0 0 0 4px;
    padding: 0;
  }
  a {
    color: #86A4AE;
    line-height: 5px;
    text-decoration: none;
    &:active, &:link, &:visited {
      color: #86A4AE;
      line-height: 5px;
      text-decoration: none;
    }
  }
  li {
    border-right: 1px solid #86A4AE;
    color: #fff;
    display: inline;
    list-style: none;
    padding: 0 5px;
    &:last-child {
      border-right: none;
    }
  }
}

.main {
  border: 1px solid #000;
  border-top: 0;
}

.cta {
  background: white url('../images/banner.jpg');
  display: block;
  height: 258px;
  width: 760px;
  h1 {
    font-size: 3.75em;
    letter-spacing: -2px;
    line-height: 38px;
    padding-top: 30px;
    padding-right: 101px;
    text-transform: uppercase;
    font-family: Arial;
    color: #000;
    font-weight: bold;
    text-align: right;
  }
  h2 {
    font-family: Arial;
    color: #000;
    font-weight: bold;
    text-align: right;
    font-size: 1.5em;
    padding-top: 10px;
    padding-right: 101px;
  }
  h1 em, h2 em {
    color: #C50D01;
    font-style: normal;
  }
  h1 em {
    clear: both;
    display: block;
  }
  h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 5px 0;
    text-transform: lowercase;
  }
  .partner {
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 14px;
    margin-left: 450px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 33px;
  }
}

.now {
  left: 50%;
  margin: 0 auto 0 -78px;
  position: relative;
  top: 42px;
  width: 156px;
  z-index: 9;
}

.join {
  background: url('../images/join-us.png');
  border: 4px solid #000;
  border-radius: 10px;
  height: 48px;
  width: 174px;
  &:hover {
    background-position: 0px 48px;
  }
}

.feature {
  background-color: #000;
  color: #fff;
  height: 93px;
  position: relative;
  text-transform: uppercase;
  .article {
    height: 91px;
    margin: 34px 40px 0 40px;
    position: absolute;
    text-align: center;
    width: 205px;
    &:last-child {
      right: 0;
      top: 0;
    }
    li {
      clear: both;
      list-style: none;
      text-align: center;
      width: auto;
    }
  }
  h3 {
    font-family: Verdana;
    font-size: 1.25em;
    font-weight: bold;
  }
}

.options {
  background-color: #000;
  color: #fff;
  height: 177px;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 760px;
  ul {
    margin: 0 auto;
    width: 729px;
  }
  li {
    background-color: #000;
    background-image: url('../images/options.png');
    float: left;
    height: 118px;
    list-style: none;
    margin-right: 7px;
    overflow: hidden;
    width: 236px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.opt1 {
  background-position: 0 0;
}

.opt2 {
  background-position: -236px 0;
}

.opt3 {
  background-position: -472px 0;
}

.opt1:hover {
  background-position: 0 -118px;
}

.opt2:hover {
  background-position: -236px -118px;
}

.opt3:hover {
  background-position: -472px -118px;
}

.showme {
  background-color: #000;
}

.trigger {
  text-align: center;
  display: block;
}

.trigger:hover {
  cursor: hand;
}