	<!-- custom scripting -->
	<script src="http://codeorigin.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="scripts/scripts.js"></script>
    <!-- endcustom scripting -->

	<!-- Header -->
	<div class="header">
		<div class="navigation">
			<div class="logo"></div>
			<h2 class="hide">Main Navigation</h2>
			<ul role="navigation">
				<li><a href="">Poker</a></li>
				<li><a href="">Casino</a></li>
				<li><a href="">Sports</a></li>
				<li><a href="">Live</a></li>
			</ul>
		</div>
		<div class="contact">
			<h2 class="hide">Contact us menu</h2>
			<ul role="menu">
				<li><a href="">Contact Us</a></li>
				<li><a href="">Bonuses</a></li>
				<li><a href="">Help</a></li>
				<li>Toll Free: 00-800-1004-2004</li>
			</ul>
		</div>
	</div>
	<!-- End of Header -->

	<!-- Main Body -->
	<div class="main">
		<div class="cta">
			<h1>Are you ready <em>for some action?</em></h1>
			<h2><em>Bodog</em> Official Betting Partner to Fulham FC</h2>
			<div class="partner">
				<h3>fulham fc</h3>
				Betting &amp; gaming<br />
				official partner
			</div>
			<div class="now">
				<div class="button join"></div>
			</div>
		</div>
		<div class="feature">
			<div class="article">
				<h3>Start playing in 3 steps</h3>
				<ol>
					<li>1. Complete the join form</li>
					<li>2. Fund your account</li>
					<li>3. start playing!</li>
				</ol>
			</div>
			<div class="article">
				<h3>Bonuses &amp; Benefits</h3>
				<ul>
					<li>10% Instant Bonus</li>
					<li>Free and fast payouts</li>
					<li>4 great products - 1 account</li>
				</ul>
			</div>
		</div>
		<div class="options">
			<h3 class="hide">Download, Play &amp; Bet</h3>
			<ul>
				<li class="opt1"></li>
				<li class="opt2"></li>
				<li class="opt3"></li>
			</ul>
		</div>
		<div class="showme">
			<h3><a href="#" class="trigger">Show me more</a></h3>
			<div class="info hide">Chuck ipsum. Although it is not common knowledge, there are actually three sides to the Force: the light side, the dark side, and Chuck Norris. Although it is not common knowledge, there are actually three sides to the Force: the light side, the dark side, and Chuck Norris. Chuck Norris frequently donates blood to the Red Cross. Just never his own. Chuck Norris knows where Carmen Sandiego is.</div>
		</div>
	</div>
	<!-- End of Main Body -->

	<!-- Footer -->
	<div class="footer">	
			
	</div>
	<!-- End of Footer -->